:root {
    /* --shade: hsl(208, 31%, 81%); default */
    /* shade variable defined in script.js  */
    /* chessground/assets/chessground.cburnett.css for pieces img  */
    --board-size: 480px;
    /* Should be a multiple of 160 to have things line up */
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background-color: hsl(from var(--shade) h s calc(l /6));
}

#back,
#settings,
#themes {
    position: absolute;
}

#game,
#listener {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    float: left;
}

#listener {
    float: right;
}